<h1>Listing posts</h1>
<br />
<%= link_to 'New Post', new_post_path %>
<br />
<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <div><%= post.body %></div>
  <div>
    <span><%= link_to 'Show', post %></span> | 
    <span><%= link_to 'Edit', edit_post_path(post) %></span> | 
    <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
  <h4>Comments</h4>
  <% post.comments.each do |comment| %>
    <div><%= comment.body %></div>
    <div>
      <span><%#= link_to 'Edit', edit_post_comment_path(comment) %></span>
      <span><%= link_to 'Destroy', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  <% end %>
  <div>
    <%= form_for([post, post.comments.build]) do |f| %>
      <div class="field">
        <%= f.label "Add new comment" %><br />
        <%= f.text_area :body, rows: "3" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>

